<!-- Updates Section -->
<section class="updates section-padding">
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4 col-md-12">
      <!-- Recent Updates            -->
      <div class="wrapper recent-uodated"> 
        <div id="new-updates" class="card-header d-flex justify-content-between align-items-center">
          <h2 class="h5 display"><a data-toggle="collapse" data-parent="#accordion" href="#updates-box" aria-expanded="true" aria-controls="updates-box">News Updates</a></h2></i>
        </div>
        <div id="updates-box" role="tabpanel" class="collapse show">
          <ul class="news list-unstyled">
            {{#each news}}
              <li class="d-flex justify-content-between"> 
                <div class="left-col d-flex">
                  <div class="icon"><i class="icon-rss-feed"></i></div>
                  <div class="title"><strong>{{{this.title}}}</strong>
                    <p>{{{this.body}}}</p>
                  </div>
                </div>
                <div class="right-col text-right">
                  <div class="update-date">{{this.day}}<span class="month">{{this.month}}</span></div>
                </div>
              </li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>

    <div class="col-lg-4 news-form">
      <div class="card">
        <div class="card-header d-flex align-items-center">
          <h2 class="h5 display">Add News</h2>
        </div>
        <div class="card-block">
          <form class="form-horizontal" method="POST" action="/news">
            <div class="form-group row">
              <label class="col-sm-2">Title</label>
              <div class="col-sm-10">
                <input id="inputHorizontalSuccess" type="text" placeholder="Title" class="form-control form-control-success" name="title"><small class="form-text">The article title.</small>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2">Body</label>
              <div class="col-sm-10">
                <input id="inputHorizontalWarning" type="text" placeholder="Body" class="form-control form-control-warning" name="body"><small class="form-text">The article summary.</small>
              </div>
            </div>
            <div class="form-group row">       
              <div class="col-sm-10 offset-sm-2">
                <input type="submit" value="Add" class="btn btn-primary">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="card">
        <div class="card-header d-flex align-items-center">
          <h2 class="h5 display display">Run Cowsay</h2>
        </div>
        <div class="card-block">
          <form id="cowsay-form">
            <div class="form-group">
              <input type="text" placeholder="Cowsay Text" id="cowsay-text" class="form-control">
            </div>
            <div class="form-group">       
              <input type="submit" value="Send" class="btn btn-primary">
            </div>
          </form>
          <hr>
          <pre><code id="cowsay-output"></code></pre>
          <span id="cowsay-updated">Last Updated: Never</span>
        </div>
      </div>
    </div>
  </div>
</div>
</section>