<!-- Updates Section -->
<section class="updates section-padding">
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4 col-md-12">
      <!-- Recent Updates            -->
      <div class="wrapper recent-uodated"> 
        <div id="new-updates" class="card-header d-flex justify-content-between align-items-center">
          <h2 class="h5 display"><a data-toggle="collapse" data-parent="#accordion" href="#updates-box" aria-expanded="true" aria-controls="updates-box">News Updates</a></h2></i>
        </div>
        <div id="updates-box" role="tabpanel" class="collapse show">
          <ul class="news list-unstyled">
            <!-- Item-->
            <li class="d-flex justify-content-between"> 
              <div class="left-col d-flex">
                <div class="icon"><i class="icon-rss-feed"></i></div>
                <div class="title"><strong>Mysterious satellite crash</strong>
                  <p>A mysterious satellite crashed on top of the Radio Kaikan building in Akihabara at around noon.</p>
                </div>
              </div>
              <div class="right-col text-right">
                <div class="update-date">23<span class="month">July</span></div>
              </div>
            </li>
            <!-- Item-->
            <li class="d-flex justify-content-between"> 
              <div class="left-col d-flex">
                <div class="icon"><i class="icon-rss-feed"></i></div>
                <div class="title"><strong>New world champions</strong>
                  <p>『　』 has acheived the top score, with over 280 wins in a row.</p>
                </div>
              </div>
              <div class="right-col text-right">
                <div class="update-date">20<span class="month">June</span></div>
              </div>
            </li>
            <!-- Item-->
            <li class="d-flex justify-content-between"> 
              <div class="left-col d-flex">
                <div class="icon"><i class="icon-rss-feed"></i></div>
                <div class="title"><strong>Local boy dies of shock</strong>
                  <p>A local boy died of shock trying to save someone from a slow-moving tractor.</p>
                </div>
              </div>
              <div class="right-col text-right">
                <div class="update-date">24<span class="month">Jan</span></div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
</section>